.sidebar {
    position: sticky;
    display: flex;
    flex-direction: column;
    width: 25rem;
    
    min-height: 100vh;
    background-color: var(--zinc-700);
    box-shadow: 0 14px 28px var(--zinc\/80), 0 10px 10px var(--zinc\/80);
    z-index: 100;
    overflow: auto;
    padding-bottom: 3rem;
}
/* sidebar Brand */
.sidebar__brand {
  padding: 0.5rem 1.5rem;
  height: 6.25rem;
  border-bottom: var(--border-light);
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sidebar__brand-img {
  height: 3.5rem;
}
.sidebar__brand-text{
    color: var(--zinc-100);
    font-size: var(--font-size-lg);
}
/* sidebar Navbar */
.sidebar__link{
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    color: var(--zinc-100);
    transition: background-color 0.15s;
}
.sidebar__link:hover{
    background-color: var(--zinc\/80);
}
.sidebar__link--active:hover,
.sidebar__link--active{
    background-color: var(--france-600);
}
.sidebar__icon-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 3rem;
    height: 3rem;
}
.sidebar__text{
    display: flex;
    width: 100%;
}
.sidebar__icon-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
}
.sidebar__dropdown{
    background-color: var(--zinc-800);
    border-left: .3rem solid var(--zinc-100);
    height: 0;
    overflow: hidden;
    transition: height .25s;
}
.sidebar__dropdown--open{
    height: auto;
}
.sidebar__link--active-level-two:hover,
.sidebar__link--active-level-two{
    background-color: var(--zinc-100);
    color: var(--zinc-500);
}
.sidebar__link--active-level-three:hover,
.sidebar__link--active-level-three{
    background-color: var(--zinc-300);
    color: var(--zinc-700);
}

/* sidebar icon */
.sidebar--icon{
    width: 6rem;
}
.sidebar--icon .sidebar__brand{
    justify-content: center;
    gap: 0;
}
.sidebar--icon .sidebar__search{
    display: none;
}
.sidebar--icon .sidebar__icon-right,
.sidebar--icon .sidebar__text,
.sidebar--icon .sidebar__brand-text{
    width: 0;
    overflow: hidden;
    height: 0;
}
.sidebar--icon .sidebar__icon-left{
    justify-content: center;
}