.sidebar {
  position: absolute;
  width: 25rem;
  left: -25rem;
  min-height: 100vh;
  background-color: var(--zinc-700);
  z-index: 100;
  transition: box-shadow 0.5s, left 0.5s, width 0s 0.5s;

  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}
.sidebar--absolute {
  left: 0;
  box-shadow: 0 14px 28px var(--zinc\/80), 0 10px 10px var(--zinc\/80);
}
.sidebar--relative-collapsed,
.sidebar--relative-icon {
  position: relative;
  left: 0;
  box-shadow: 0 14px 28px var(--zinc\/80), 0 10px 10px var(--zinc\/80);
  transition: width 0.5s;
}
.sidebar--relative-icon {
  width: 6rem;
}

/*********** Sidebar Brand ***********/

/* mobile */
.sidebar__brand {
  padding: 0.5rem 1.5rem;
  height: 6.25rem;
  border-bottom: var(--border-light);
  display: flex;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;
}
.sidebar__brand-img {
  height: 3.5rem;
}
.sidebar__brand-text {
  color: var(--zinc-100);
  font-size: var(--font-size-lg);
  transition: width 0.5s, height 0.5s;
}
/* desktop */
.sidebar--relative-icon .sidebar__brand {
  justify-content: center;
  gap: 0;
}
.sidebar--relative-icon .sidebar__brand-text {
  visibility: hidden;
  width: 0;
}

/*********** Sidebar Brand ***********/

/* desktop */
.sidebar--relative-icon .sidebar__search {
  visibility: hidden;
  height: 0;
}

/*********** Sidebar Navbar ***********/
.sidebar__link:hover {
    background-color: var(--zinc-600);
}

/* full */
.sidebar__item{
    transition: max-height 2s ease-in-out;
}
.sidebar__link {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  color: var(--zinc-100);
  transition: background-color 0.15s;
}
.sidebar__icon-right,
.sidebar__text {
  transition: width 0.5s, height 0s 0.5s;
  white-space:nowrap ;
}
.sidebar__icon-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 3rem;
  height: 3rem;
}
.sidebar__text {
  display: flex;
  width: 100%;
}
.sidebar__icon-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;

  transition: transform .3s;

}
.sidebar__dropdown {
  background-color: var(--zinc-800);
  border-left: 0.3rem solid var(--zinc-100);
  height: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s ease-in-out;
}

/* icon */
.sidebar--relative-icon .sidebar__icon-right,
.sidebar--relative-icon .sidebar__text {
  visibility: hidden;
  width: 0;
  height: 0;
}
.sidebar--relative-icon .sidebar__icon-left {
  justify-content: center;
}
.sidebar--relative-icon .sidebar__link:hover > .sidebar__text{
    visibility: visible;
    padding-left: 2.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.sidebar--relative-icon .sidebar__link:hover > .sidebar__icon-right{
    visibility: visible;
    justify-content: flex-start;
    width: auto;
}
.sidebar--relative-icon .sidebar__link:hover{
    display: flex;
    justify-content: space-between;
    width: 25rem;
    background-color: var(--zinc-600);
}

/* dropdown */
.sidebar__item--open > .sidebar__link:hover,
.sidebar__item--open > .sidebar__link {
  background-color: var(--france-600);
}
.sidebar__item--open,
.sidebar__item--open > .sidebar__dropdown {
    height: auto;
    max-height: 100vh;
    transition: max-height 1s ease-in-out;
}